.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}
.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.postDiv{
  display: inline-block;
  margin:.5rem;
  padding:.5rem;
  background-color: #fefefe ;
  border-radius: 20px;
  box-shadow: 2px 2px 15px 0 #eee, 1px 1px 10px 0 #999;
  vertical-align: text-top;
}
.postDiv a{
  text-decoration: none;
  font-weight: 600;
}
.postDiv h2 a{
  color:green;
}
.s6{
  width:47%
}
